* {
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: blue;
    margin: 5px;
}

header h1 {
    font-size: 20px;
    color: white;
}

.flex-container {
    display: flex;
}

.aside {
    padding: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%
}

.forecastDisplay {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    float: right;
    width: 75%;
}

.currentWeather {
    border: 2px solid black;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.futureDay {
    padding: 10px;
    margin: 5px;
    background-color: slategray;
}